@font-face {
  font-family: myeongjo;
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/Nanum_Myeongjo/NanumMyeongjo-Regular.ttf') format('truetype');
}

@font-face {
  font-family: myeongjo;
  font-style: bold;
  font-weight: 700;
  src:url('../fonts/Nanum_Myeongjo/NanumMyeongjo-Bold.ttf') format('truetype');
}

@font-face {
  font-family: gothic;
  font-style: bold;
  font-weight: 700;
  src:url('../fonts/Nanum_Gothic/NanumGothic-Bold.ttf') format('truetype');
}

@font-face {
  font-family: gothic;
  font-style: normal;
  font-weight: 400;
  src:url('../fonts/Nanum_Gothic/NanumGothic-Regular.ttf') format('truetype');
}


* {
  box-sizing: border-box;
  font-family: gothic, sans-serif;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: myeongjo, sans-serif;
  font-style: bold;
  font-weight: 700;
}

p {
  font-size: 18px
}


.flex {
  display: flex;
}

.flex-center {
  align-content: center;
  align-items: center;
}

.w-50 {
  width: 50%;
}

.f-24 {
  font-size: 24px;
}

.f-56 {
  font-size: 56px;;
}

.p-16 {
  padding: 1rem;
}



body, html {
  padding: 0px;
  margin: 0px;
}

.container {
  width: 1000px;
  margin: auto;
}

.social-links {

}

.footer {
  width: 50%;
}